__pycache__/
*.py[codz]
*$py.class

*.so

.Python

__pycache__/
*.pyc
dataset/
lightning_logs/
allen_data_info/
*.png 
*.jpg
*.jpeg
*.tif
*.bmp
nt_stpt/
test_crop/
*.pth
*.nii.gz
wandb/
.vscode/
中文说明.md
test_pro*.py